.o-wrapper {
  background-color: slategrey;
}

.c-title {
  font-weight: 300;
  color: ghostwhite;
}

.c-d3 {
  background-color: white;
}

.c-yLabel {
  font-weight: 300;
  font-size: 0.9em;
}

.tick {
  font-weight: 700;
}
